<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>About | VuTR</title>
      <!-- Google Font: Source Sans Pro -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <!--Favicon-->
      <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
      <!--Google Font API-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <!--Fonts-->
      <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/fontawesome-free/css/all.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/fontawesome-free/css/brands.css')}}">
      <!-- Theme style -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'dist/css/adminlte.min.css')}}">
      <style type="text/css">
         .select2-container--default .select2-selection--multiple .select2-selection__choice {
         background-color: #007bff;
         border-color: #006fe6;
         }
         p,
         h1,
         h2,
         h3,
         h4,
         h5,
         h6,
         a {
         font-family: 'Roboto';
         font-weight: 400;
         }
         #chart {
         color: #1b1e23;
         font-size: small;
         font-family: sans-serif;
         height: calc(100vh - 2em);
         margin: 1em;
         display: flex;
         }
         #chart>* {
         flex: auto;
         }
         .domain,
         .gridline-y,
         .gridline-x,
         .annotation-line>line {
         stroke: currentColor;
         stroke-opacity: 0.1;
         }
      </style>
   </head>
   <body class="hold-transition layout-top-nav" id="main-content" >
      <div class="wrapper">
         <!-- Navbar -->
         <nav class="main-header navbar navbar-expand navbar-light" >
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item d-none d-sm-inline-block">
                   <a href="{{url_for('main.index')}}" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                   <a href="{{url_for('main.about')}}" class="nav-link">About</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                   <a href="{{url_for('main.help_page')}}" class="nav-link">Help</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                   <a href="mailto:nwhiffin@well.ox.ac.uk" class="nav-link">Contact</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                   <a href="{{url_for('main.changelog')}}" class="nav-link">Changelog</a>
                </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
               <!-- Navbar Search -->
               <li class="nav-item">
                  <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                  <i class="fas fa-expand-arrows-alt"></i>
                  </a>
               </li>
            </ul>
         </nav>
         <!-- /.navbar -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper" >
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-9 mx-auto">
                            <h2 class="">About VuTR</h2>
                            <hr>

                        <p class="">
                           The 5’ UTR of a given gene includes elements called uORFs (upstream Open Reading Frames) that have the potential to negatively regulate mRNA translation of the downstream coding sequence. Variants in 5’ UTRs can modify or entirely disrupt translation through various different mechanisms (such as creating new upstream start codons (uAUGs) that can create uORFs) or alternatively perturb existing uORFs. Our group has previously shown that these variants can have deleterious consequences and cause severe disease. VuTR provides an open and easy-to-use interface to visualise the impact of variants within 5' UTRs, including those found in population datasets (gnomAD version 3.1.2) and ClinVar. This is currently limited to the impact on MANE transcripts (version 1.0). Read more about the role of 5' UTRs in the following papers:


                        </p>
                        <p>1. Whiffin, N., Karczewski, K. J., Zhang, X., Chothani, S., Smith, M. J., Evans, D. G., ... & Ware, J. S. (2020). <a href="https://www.nature.com/articles/s41467-019-10717-9">Characterising the loss-of-function impact of 5’untranslated region variants in 15,708 individuals.</a> <i>Nature communications</i>, 11(1), 1-12.</p>
                        <p>2. Wright, C. F., Quaife, N. M., Ramos-Hernández, L., Danecek, P., Ferla, M. P., Samocha, K. E., ... & Whiffin, N. (2021). <a href="https://www.cell.com/ajhg/fulltext/S0002-9297(21)00184-1">Non-coding region variants upstream of MEF2C cause severe developmental disorder through three distinct loss-of-function mechanisms.</a> <i>The American Journal of Human Genetics</i>, 108(6), 1083-1094.</p>
                        <p>3. . Zhang, X., Wakeling, M., Ware, J., & Whiffin, N. (2021). <a href = "https://academic.oup.com/bioinformatics/article/37/8/1171/5905476">Annotating high-impact 5′ untranslated region variants with the UTRannotator.</a> <i> Bioinformatics</i>, 37(8), 1171-1173.</p>
                        <h4 class="">About the Team</h4>
                        <p class="">
                           VuTR was developed by the Computational Rare Disease Genomics Lab (CRDG). CRDG specialises in identifying the role of non-protein-coding variants in rare genetic diseases through the use of bioinformatics on large exome and genome sequencing datasets.
                           Learn more about other tools and resources that we have developed <a href="">here</a>.
                           We are based out of the Big Data Institute at the University of Oxford.
                            You can learn more about our lab at our <a href="https://rarediseasegenomics.org/">website</a>

                        </p>
                        <h4 class="">Tools used</h4>
                        <p class="">
                            VuTR was built using Python 3.7, R and served using Flask and Docker on nginx and reside in Ubuntu servers. To identify the consequences of variants Ensembl's VEP (Version 103) was used alongside with the <a href="https://github.com/ImperialCardioGenetics/UTRannotator">UTR annotator plugin</a>.
                            Our code is easily available and reproducible through our <a href="https://github.com/Computational-Rare-Disease-Genomics-WHG/VuTR">Github repository where a list of our dependencies are available.</a>
                            If you face any issues or wish to report a bug whilst using VuTR please get in touch with us <a href="mailto:nwhiffin@well.ox.ac.uk">here</a> or by open up an issue in our repository's <a href="https://github.com/Computational-Rare-Disease-Genomics-WHG/UTR-Visualisation-App/issues">Github issues page</a>.
                        </p>

                        <h4 class="">Terms of Use</h4>
                        <p class="">
                            Copyright (C) 2022 CRDG

                              This program is free software; you can redistribute it and/or modify
                              it under the terms of the GNU General Public License as published by
                              the Free Software Foundation; either version 2 of the License, or
                              (at your option) any later version.

                              This program is distributed in the hope that it will be useful,
                              but WITHOUT ANY WARRANTY; without even the implied warranty of
                              MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                              GNU General Public License for more details.

                              You should have received a copy of the GNU General Public License along
                              with this program; if not, write to the Free Software Foundation, Inc.,
                              51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
                        </p>

                        <h4 class="">Acknowledgements</h4>
                        <p class="">
                           This work was funded through Wellcome Trust and the Royal Society (Sir Henry Dale Fellowship to Nicola Whiffin; 220134/Z/20/Z) and the Rosetrees Trust (H5R01320).
                           We acknowledge the input from the <a href="https://www.garvan.org.au/research/population-genomics">Centre For Population Genomics</a> in the development of the application.
                           
                           <a href="https://github.com/ColorlibHQ/AdminLTE">AdminLTE Theme</a> was used for generating the template for the Visualization Application.
                            Our DNA Logo icon created by  <a href="https://www.flaticon.com/free-icons/dna" title="dna icons"> Freepik - Flaticon</a>.
                            All rights reserved for their respective owners.
                        </p>

                        <div class="row">
                            <div class="col-4 mx-auto text-center p-3">
                                <img class="img-fluid rounded float-none text-center mx-auto" style="height:200px;width:auto;"src="{{url_for('static', filename='wchg.png')}}">
                            </div>

                            <div class="col-4 mx-auto text-center p-3">
                              <img class="img-fluid rounded float-none text-center mx-auto" style="height:200px;width:auto;"src="{{url_for('static', filename='bdi.png')}}">
                          </div>


                            <div class="col-4 mx-auto text-center p-3">
                                <img class="img-fluid rounded float-none text-center mx-auto" style="height:200px;width:auto;"src="{{url_for('static', filename='oxford.png')}}">
                            </div>
                         </div>

                    </div>
                    </div>
                </div>
                  <!-- /.row -->
               </div>
               <!-- /.container-fluid -->
        </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content" >

               <!-- /.container-fluid -->
            </section>
         </div>
      </div>
      </section>
      <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer mx-auto">
         <div class="row mx-auto">
            <strong class="mx-auto">Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href="https://rarediseasegenomics.org/">Computational Rare Disease Genomics</a></strong>.
      </div>
      </footer>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
      </aside>
      <!-- /Control sidebar -->
      </div>
      <!-- jQuery -->
      <script src="{{url_for('static', filename = 'plugins/jquery/jquery.min.js')}}"></script>
      <!-- jQuery UI 1.11.4 -->
      <script src="{{url_for('static', filename = 'plugins/jquery-ui/jquery-ui.min.js')}}"></script>
      <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
      <script>
         $.widget.bridge('uibutton', $.ui.button)
      </script>
      <!-- Bootstrap 4 -->
      <script src="{{url_for('static', filename = 'plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
      <!-- ChartJS -->
      <!-- AdminLTE App -->
      <script src="{{url_for('static', filename = 'dist/js/adminlte.js')}}"></script>
      <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
      <script src="{{url_for('static', filename = 'dist/js/pages/dashboard.js')}}"></script>
      <script src="{{url_for('static', filename = 'plugins/select2/js/select2.full.min.js')}}"></script>
      <script src="{{url_for('static', filename ='plugins/jsgrid/jsgrid.min.js')}}"></script>
      <!--Custom Scripts-->

   </body>
</html>
