<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>VuTR | CRDG</title>
      <!-- Google Font: Source Sans Pro -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <!--Favicon-->
      <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
      <!--Google Font API-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <!--Fonts-->
      <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/fontawesome-free/css/all.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/fontawesome-free/css/brands.css')}}">
      <!-- Ionicons -->
      <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <!-- Tempusdominus Bootstrap 4 -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')}}">
      <!-- iCheck -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
      <!-- JQVMap -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/jqvmap/jqvmap.min.css')}}">
      <!-- Theme style -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'dist/css/adminlte.min.css')}}">
      <!-- overlayScrollbars -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
      <!-- Daterange picker -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/daterangepicker/daterangepicker.css')}}">
      <!-- summernote -->
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/summernote/summernote-bs4.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/jsgrid/jsgrid.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename = 'plugins/jsgrid/jsgrid-theme.min.css')}}">
      <!--Preload scripts-->
      <script src="https://cdn.jsdelivr.net/gh/calipho-sib/feature-viewer@v1.1.0/dist/feature-viewer.bundle.js"></script>
      <script src="https://unpkg.com/d3"></script>
      <script src="https://unpkg.com/d3fc"></script>
      <style type="text/css">
         .select2-container--default .select2-selection--multiple .select2-selection__choice {
         background-color: #007bff;
         border-color: #006fe6;
         }
         p,
         h1,
         h2,
         h3,
         h4,
         h5,
         h6,
         a {
         font-family: 'Roboto';
         font-weight: 400;
         }
         #chart {
         color: #1b1e23;
         font-size: small;
         font-family: sans-serif;
         height: calc(100vh - 2em);
         margin: 1em;
         display: flex;
         }
         #chart>* {
         flex: auto;
         }
         .domain,
         .gridline-y,
         .gridline-x,
         .annotation-line>line {
         stroke: currentColor;
         stroke-opacity: 0.1;
         }
      </style>
   </head>
   <body class="hold-transition layout-top-nav" id="main-content" >
      <div class="wrapper">
         <!-- Navbar -->
         <nav class="main-header navbar navbar-expand navbar-light" >
            <!-- Left navbar links -->
            <ul class="navbar-nav">
               <li class="nav-item d-none d-sm-inline-block">
                  <a href="{{url_for('main.index')}}" class="nav-link">Home</a>
               </li>
               <li class="nav-item d-none d-sm-inline-block">
                  <a href="{{url_for('main.about')}}" class="nav-link">About</a>
               </li>
               <li class="nav-item d-none d-sm-inline-block">
                  <a href="{{url_for('main.help_page')}}" class="nav-link">Help</a>
               </li>
               <li class="nav-item d-none d-sm-inline-block">
                  <a href="mailto:nwhiffin@well.ox.ac.uk" class="nav-link">Contact</a>
               </li>
               <li class="nav-item d-none d-sm-inline-block">
                  <a href="{{url_for('main.changelog')}}" class="nav-link">Changelog</a>
               </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
               <!-- Navbar Search -->
               <li class="nav-item">
                  <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                  <i class="fas fa-expand-arrows-alt"></i>
                  </a>
               </li>
            </ul>
         </nav>
         <!-- /.navbar -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper" >
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <h2 class="text-center">VuTR</h2>
                    <div class="row">
                    <div class="col-3 mx-auto text-center p-3">
                        <img class="img-fluid rounded float-none text-center mx-auto" style="height:200px;width:auto;"src="{{url_for('static', filename='dna.png')}}">
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-md-2" >
                            <form action="/gene_search" method="post">
                                <div class="input-group">
                                    <input name="gene_q" type="search" class="form-control form-control-lg" placeholder="Search by gene name (i.e. MEF2C or NF2).">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-lg btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 mx-auto">
                        <p class="text-center">
                           <p class="text-center"><a href="https://twitter.com/elston_neil?lang=en">Elston Neil D'Souza</a>, <a href="https://twitter.com/jtalbotmartin">Jonathan Talbot-Martin</a>, <a href="https://twitter.com/dgmacarthur/">Daniel G. MacArthur</a> and <a href="https://twitter.com/nickywhiffin">Nicola Whiffin</a></p>

                            The 5’ UTR of a given gene includes elements that have the potential regulate mRNA translation such as uORFs. Variants in 5’ UTRs can modify or entirely disrupt translation through various different mechanisms (such as new creating uAUG that can create uORFs) or alternatively perturb existing ORFs.
                             VuTR provides an open and easy-to-use interface to visualise high-impact variants within 5' UTRs within population datasets (gnomAD version 3.1.2) and ClinVar on MANE transcripts.
                            Users are also able to select their visualise 5' UTR architechure and input their 5' UTR Variant SNV and visualise their UTR consequence through the UTR Annotator Plugin in our application.
                        </p>
                    </div>
                    </div>

                </div>
                  <!-- /.row -->
               </div>
               <!-- /.container-fluid -->
        </div>


            <!-- /.content-header -->
         </div>
      </div>
      </section>
      <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer mx-auto">
         <div class="row mx-auto">
         <strong class="mx-auto">Copyright &copy; 2022 <a href="https://rarediseasegenomics.com.au">Computational Rare Disease Genomics</a></strong>.
      </div>
      </footer>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
      </aside>
      <!-- /Control sidebar -->
      </div>
      <!-- jQuery -->
      <script src="{{url_for('static', filename = 'plugins/jquery/jquery.min.js')}}"></script>
      <!-- jQuery UI 1.11.4 -->
      <script src="{{url_for('static', filename = 'plugins/jquery-ui/jquery-ui.min.js')}}"></script>
      <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
      <script>
         $.widget.bridge('uibutton', $.ui.button)
      </script>
      <!-- Bootstrap 4 -->
      <script src="{{url_for('static', filename = 'plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
      <!-- ChartJS -->
      <script src="{{url_for('static', filename = 'plugins/chart.js/Chart.min.js')}}"></script>
      <!-- Sparkline -->
      <script src="{{url_for('static', filename = 'plugins/sparklines/sparkline.js')}}"></script>
      <!-- JQVMap -->
      <script src="{{url_for('static', filename = 'plugins/jqvmap/jquery.vmap.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'plugins/jqvmap/maps/jquery.vmap.usa.js')}}"></script>
      <!-- jQuery Knob Chart -->
      <script src="{{url_for('static', filename = 'plugins/jquery-knob/jquery.knob.min.js')}}"></script>
      <!-- daterangepicker -->
      <script src="{{url_for('static', filename = 'plugins/moment/moment.min.js')}}"></script>
      <script src="{{url_for('static', filename = 'plugins/daterangepicker/daterangepicker.js')}}"></script>
      <!-- Tempusdominus Bootstrap 4 -->
      <script src="{{url_for('static', filename = 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js')}}"></script>
      <!-- Summernote -->
      <script src="{{url_for('static', filename = 'plugins/summernote/summernote-bs4.min.js')}}"></script>
      <!-- overlayScrollbars -->
      <script src="{{url_for('static', filename = 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
      <!-- AdminLTE App -->
      <script src="{{url_for('static', filename = 'dist/js/adminlte.js')}}"></script>
      <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
      <script src="{{url_for('static', filename = 'dist/js/pages/dashboard.js')}}"></script>
      <script src="{{url_for('static', filename = 'plugins/select2/js/select2.full.min.js')}}"></script>
      <script src="{{url_for('static', filename ='plugins/jsgrid/jsgrid.min.js')}}"></script>
      <!--Custom Scripts-->
      <script>
    		$(function() {
			$("#searchBox").autocomplete({
				source : function(request, response) {
					$.ajax({
						type: "POST",
						url : "http://localhost:5000/search",
						dataType : "json",
						cache: false,
						data : {
							q : request.term
						},
						success : function(data) {
							response(data);
						},
						error: function(jqXHR, textStatus, errorThrown) {
							console.log(textStatus + " " + errorThrown);
						}
					});
				},
				minLength : 2
			});
		});

      </script>
   </body>
</html>
