profiles {
    local {
        process.executor = 'local'
        process.container = 'elstondsouza/docker-utr-pipeline:latest'
        docker.enabled = true

        // gnomAD VCF locations

        // VEP Cache locations

    }
    cluster {
        process.executor = 'slurm'
        process.queue = 'short'
        process.memory = '100GB'
        process.cpu = 20

        // This needs to be downloaded ahead of time using 
        // singularity pull docker-utr-pipeline.sif docker://elstondsouza/docker-utr-pipeline:latest
        process.container = '~/docker-utr-pipeline.sif'

        // Docker isn't available on most HPCs
        // Alternatively we can use singularity to use 
        // the above docker image
        singularity.enabled = true

        // gnomAD VCF locations
        gnomad_dir = '/well/whiffin/shared/gnomAD'

        // VEP Cache locations
        vep_cache = '/well/whiffin/shared/vep'
        vep_fasta = '/well/whiffin/shared/vep'

    }

    /* 
    To additionall add a cloud profile define 
    parameters here as a separate profile.
    
    Since currently only run times are either 
    local or cluster this needn't be defined as 
    of now.
    */

}
